body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
}

p{
    color: hsl(220, 15%, 55%);
}

img{
   width: 90%;
   height: 90%;
}

/*Class*/
.outerbox{
    background-color: white;
    width: 20%;
    height: 60%;
    margin: auto;
}

